[Desktop Entry]
Type=Application
Name=chiaki4deck-build
Comment=Custom Chiaki4Deck Build: PlayStation Remote Play Client
Exec=/usr/bin/env LD_LIBRARY_PATH='/home/deck/Games/Chiaki' /home/deck/Games/Chiaki/chiaki
Icon=chiaki4deck
Categories=Game;
