[Desktop Entry]
Type=Application
Name=chiaki4deck-build
Comment=Custom Chiaki4Deck Build: PlayStation Remote Play Client
Exec=/usr/bin/env LD_LIBRARY_PATH='/home/deck/.local/share/Chiaki' /home/deck/.local/share/Chiaki/chiaki
Icon=chiaki4deck
Categories=Game;
